/*O asterisco aplica em todos os elementos da pagina*/
body{
    margin:0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows: 15vh 60vh 30vh;
    grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
}
  
nav{
    grid-area: nav;
    background-color: darkolivegreen;   
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16pt;
}

nav a:hover{
    text-decoration: underline;
    color:rgb(226, 221, 221);
}

#menuHamburger{
    height: 25px;
    width:30px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.trace{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius:40px;
}

section{
    grid-area: section;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: column;
}

section img{
    height: 100px;
    border-radius: 100%;
    z-index:2;
}

section h1{
    color:white;
    font-family: 'Dokdo', cursive;
    font-size:22pt;
}
aside{
    grid-area: aside;
    background-color: blue;
}

footer{
    grid-area: footer;
    background-color: brown;  
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#redeSocial{
    display: flex;  
    justify-content: space-around;  
    width:150px;
}

#interacoesNico{
    display: flex;
    width:100%;
    justify-content: space-around;    
    align-items: center;
}

#interacoesNico a{
    color:white;
    text-decoration: none;
}
/*Media Query define propriedades apartir de um tamanho*/
/*Criar breakpoint*/
@media(max-width:768px){
    body{
        grid-template-areas: 'nav nav nav aside'
        'section section section aside'
        'footer footer footer aside';
        grid-template-rows: 15vh 60vh 30vh;
    }
   #menuHamburger{
    display:flex;    
   }

   nav a{
       display: none;
   }
}

@media(max-width:425px){
    
    body{
        grid-template-areas: 'nav nav nav nav'
        'section section section section'
        'aside aside aside aside'
        'footer footer footer footer';
        grid-template-rows: 15vh 60vh 60vh 30vh;       
    }

    nav{ 
        justify-content: flex-start;
    }

    #menuHamburger{
        margin-left: 10px;
    }
 }
 
